*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "vazir";
}

html {
  direction: rtl;
  scroll-behavior: smooth;
}

@font-face {
  font-family: vazir;
  src: url(../../fonts/vazir-font-v27.2.2-Fontjo.com/Vazir-Medium.woff)
    format(woff);
}

body{
    background-color: $bgColor;
    color: $textColor;
   
}

ul {
  padding-left: 0;
  list-style: none;
}

input,
button,
textarea {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}
